.container{
    background-color:rgba(220, 220, 102, 0.863) ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 1px;
    
}
header ul{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-right: 50px;
   
}
.pl:hover{
    height: 30px;
    margin-right: 30px;
    color: rgb(128, 128, 70);
    animation-name:title;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes title {
    0% {transform: rotate(120deg)}
    50% {transform: rotate(240deg)}
    100% {transform: rotate(360deg)}
  }
header ul li:hover{
    background-color: rgb(245, 221, 8);
    display: flex;
    border: solid rgba(185, 236, 4, 0.982);
    border-radius: 200px;
    animation-name:liste;
    animation-delay: 2s; 
    transform: scale(2);

}
@keyframes liste{
    from {top: 0px; background-color: rgb(11, 198, 123);}
    to {top: 50px;}
}
.pjd:hover{
    animation-name:logo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-iteration-count: 4;
    

}
@keyframes logo {
    50% {
        transform: translateX(20%) scale(.5);
        opacity: 1;
        }
    75% {
        transform: translateX(40%) scale(1.5) rotate(180deg);
        opacity: 2;
        
    }
    100% {
        transform: translateX(60%) scale(.5) ;
        opacity: 3;
    }
} 
strong{
    font-size: 30px;
    margin-left: 39%;
}
.img img{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 300px;
    width: 300px;
    margin-left: 100px;
}
.titre{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}
.box1{
    width: 400px;
    height: 30px;
    background-color: rgba(2, 83, 98, 0.696);
    opacity: 0,6;
    transition-property: all;
    transition-duration:5s ;

}
.container:hover .box-1{
    transform: translateY(-37px);
}
@keyframes header-show{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(0);
    }